.main-section {
    background-image: url('../img/img-main.jpeg'); /* Ajusta la ruta según la ubicación real de tu imagen */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 20px; /* Añadido para dar espacio adicional al texto */
}

.card {
    height: auto; /* Ajustado para que la altura se adapte al contenido */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.card img {
    height: 250px; /* Tamaño fijo para las imágenes de las tarjetas */
    object-fit: cover; /* Ajuste para cubrir el contenido del contenedor */
}


